{% extends "layout.html"%}


{% block title %}เพลงแนะนำ{% endblock %}

{% block content %}
<div style="padding:20px; max-width:1000px; margin:auto;">
  <h2 style="color:#ff3399; text-align:center; margin-bottom:30px;">เพลงแนะนำ</h2>

   <div style="display:grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap:20px;">

    <!-- Card เพลง 1 -->
    <div style="background:#fff0f5; padding:15px; border-radius:15px; box-shadow:0 4px 10px rgba(0,0,0,0.1); text-align:center; cursor:pointer;"
         onclick="window.open('https://open.spotify.com/track/4bEa9VAnyVJWBxOUyVvzie', '_blank')">
      <h3>เพลง1 </h3>
      <p>คลิกเพื่อฟังเพลงในแอป Spotify</p>
    </div>

    <!-- Card เพลง 2 -->
    <div style="background:#ffe6f2; padding:15px; border-radius:15px; box-shadow:0 4px 10px rgba(0,0,0,0.1); text-align:center; cursor:pointer;"
         onclick="window.open('https://open.spotify.com/track/51XEe7g3biT97KzhZjHRgv')">
      <h3>เพลง2 </h3>
      <p>คลิกเพื่อฟังเพลงใน Spotify</p>
    </div>

    <!-- Card เพลง 3 -->
    <div style="background:#fff0f5; padding:15px; border-radius:15px; box-shadow:0 4px 10px rgba(0,0,0,0.1); text-align:center; cursor:pointer;"
         onclick="window.open('https://open.spotify.com/track/0AHpMhCdgaz00aMkoEZTXd', '_blank')">
      <h3>เพลง3 </h3>
      <p>คลิกเพื่อฟังเพลงใน Spotify</p>
    </div>

  </div>

  <!-- ปุ่มกลับหน้าแรก -->
  <div style="text-align:center; margin-top:30px;">
    <button onclick="location.href='/'" 
            style="padding:12px 25px; background-color:#ff99cc; color:white; border:none; border-radius:10px; cursor:pointer;">
      กลับหน้าแรก
    </button>
  </div>

</div>
{% endblock %}


